<div class="row">
    <div class="span7">
        <!--<div id="chart">Loading...</div>-->
        <div id="chart"><div class="loading">Loading...</div></div>
    </div>
    <div class="span5">
        <div class="infobox-container">
            <div class="infobox infobox-btc">
                <div class="infobox-icon"><i class="icon-bitcoin"></i></div>
                <div class="infobox-data">
                    <div class="infobox-value">{{ wallet.balance | number:4 }}</div>
                    <div class="infobox-caption">Wallet Balance</div>
                </div>
                <div class="infobox-data">
                    <div class="infobox-value">{{ wallet.balance + wallet.savings | number:4 }}</div>
                    <div class="infobox-caption">Total Bitcoins</div>
                </div>
            </div>
            <div class="infobox infobox-usd">
                <div class="infobox-icon"><i class="icon-dollar"></i></div>
                <div class="infobox-data">
                    <div class="infobox-value">{{ price.usd | currency:"$" }}</div>
                    <div class="infobox-caption">Exchange Rate</div>
                </div>
                <div class="infobox-data">
                    <div class="infobox-value">{{ (wallet.balance + wallet.savings) * price.usd | number:0 | prefix:'$'}}</div>
                    <div class="infobox-caption">Total Value</div>
                </div>
            </div>
            <div class="infobox infobox-speed">
                <div class="infobox-icon"><i class="icon-speed"></i></div>
                <div class="infobox-data">
                    <div class="infobox-value">{{ mining.totalHashrate | hashrate }}</div>
                    <div class="infobox-caption">Hashrate</div>
                </div>
                <div class="infobox-data">
                    <div class="infobox-value">{{ wallet.earnRate | number:2 }}</div>
                    <div class="infobox-caption">Actual BTC/day</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h1><i class="icon-bitcoin orange"></i>&nbsp;Recent Transactions
            <div class="summary">
                Wallet: <b>{{ wallet.balance | number:4 }}</b> BTC,
                Savings: <b>{{ wallet.savings | number:2 }}</b> BTC
            </div>
        </h1>

        <transaction-list transactions="wallet.transactions" />

    </div>
</div>

<div class="row">
    <div class="span12">
        <h1><i class="icon-cloud orange"></i>&nbsp;Pools
            <div class="summary">Expected per day (w/ 3% fee): <b>{{ mining.expectedRate | number:2 }}</b> / <b>{{ mining.expectedRate * price.usd | number:0 | prefix:'$' }}</b>,
                &nbsp;&nbsp;
                Actual per day: <b>{{ wallet.earnRate | number:2 }}</b> / <b>{{ wallet.earnRate * price.usd | number:0 | prefix:'$' }}</b>
            </div>
        </h1>
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th class="pool-activity">&nbsp;</th>
                <th class="pool-name">Pool</th>
                <th class="pool-hashrate">Hash Rate</th>
                <th class="pool-shares">Shares</th>
                <th class="pool-lastshare">Last Share</th>
                <th class="pool-reject">% Rej</th>
                <th class="pool-pending">Pending</th>
                <th class="pool-payouts">Payouts</th>
                <th class="pool-size">Pool Size</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="pool in mining.pools | orderBy:'name'">
                <td class="pool-activity">
                    <div id="pool-{{ pool.name | safeId }}" class="pulse pulse-pool"></div>
                </td>
                <td class="pool-name">{{ pool.name }}</td>
                <td class="pool-hashrate">{{ pool.hashrate | hashrate }}</td>
                <td class="pool-shares">{{ pool.shares | number:0 }}</td>
                <td class="pool-lastshare">{{ pool.lastShare | timeSince }}</td>
                <td class="pool-reject">{{ pool | rejectPercent }}</td>
                <td class="pool-pending">{{ pool.pending | number:4 }}</td>
                <td class="pool-payouts">{{ pool.payouts | number:2 }}</td>
                <td class="pool-size">{{ pool.poolSize | hashrate }}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h1><i class="icon-cogs orange"></i>&nbsp;Devices
        </h1>
        <div ng-repeat="(host, devices) in mining.devices" class="device-host">
            <div class="device-hostname" id="host-{{ host | safeId }}" ng-if="mining.devices.length > 1">{{ host }}</div>
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th class="device-activity">&nbsp;</th>
                    <th class="device-id">Device</th>
                    <th class="device-type">Type</th>
                    <th class="device-rate">Rate</th>
                    <th class="device-shares">Shares</th>
                    <th class="device-reject">% Rej</th>
                    <th class="device-pool">Last Pool</th>
                    <th class="device-lastshare">Last Share</th>
                    <th class="device-status" ng-if="host != 'stratum-proxy'">Status</th>
                    <th class="device-errors" ng-if="host != 'stratum-proxy'">HW</th>
                    <th class="device-temp" ng-if="host != 'stratum-proxy'">Temp</th>
                    <th class="device-warning"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="device in devices">
                    <td class="device-activity">
                        <div id="device-{{ device.hostname + ':' + device.device | safeId }}" class="pulse pulse-device"></div>
                    </td>
                    <td class="device-id">{{ device.device }}</td>
                    <td class="device-type">{{ device.type }}</td>
                    <td class="device-rate">{{ device.hashrate | hashrate }}</td>
                    <td class="device-shares">{{ device.shares | number:0 }}</td>
                    <td class="device-reject">{{ device | rejectPercent }}</td>
                    <td class="device-pool">{{ device.lastPool }}</td>
                    <td class="device-lastshare">{{ device.lastShare | timeSince }}</td>
                    <td class="device-status" ng-if="host != 'stratum-proxy'">{{ device.status }}</td>
                    <td class="device-errors" ng-if="host != 'stratum-proxy'">{{ device.errors | suffix:'%' }}</td>
                    <td class="device-temp" ng-if="host != 'stratum-proxy'">{{ device.temp | suffix:'°C':false }} </td>
                    <td class="device-warning"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>